# .air.toml
root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/main ."
  bin = "./tmp/main"
  delay = 1000
  exclude_dir = ["tmp", "docs", "node_modules"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  exclude_regex = [".*_test.go"]

[log]
  main_only = true

[color]
  main = "cyan"
  watcher = "yellow"
  build = "green"
  runner = "magenta"

[misc]
  clean_on_exit = true